@model PostViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Dashbord</h1>
<h3>@User.Identity.GetFullName()</h3>
<hr />

@if (Model != null)
{
    if (Model.Posts.Count() > 1)
    {
        foreach (var item in Model.Posts)
        {
            <div class="card border">
                <div class="card-body">
                    <h5 class="card-title text-info">@item.PostTitle</h5>
                                <h6 class="card-subtitle mb-2 text-muted"><a asp-action="UserDev" asp-controller="Dashboard" asp-route-Id="@item.UserId"> @(
                "@" + item.User.UserName
                ) </a> </h6>
                    <p class="card-text">@item.PostDescription</p>
                    <a asp-action="LikePost" asp-controller="Dashboard" asp-route-postId="@item.PostId" asp-route-likerId="@User.Identity.GetUserId()" class="card-link"><img src="~/css/like-button-icon.svg" width="30px" /> @if (item.Likes.Count() > 0) {<span>@item.Likes.Count()</span>  } </a>
                    <br />
                    <a asp-action="Post" asp-controller="Dashboard" asp-route-postId="@item.PostId">Comments <span>@item.comments.Count()</span></a>
                </div>
            </div>
        }
    }

    foreach (var item in Model.Posts)
    {
         <div class="card border">
                     <div class="card-body">
                        <h5 class="card-title text-info">@item.PostTitle</h5>
                                <h6 class="card-subtitle mb-2 text-muted"><a asp-action="UserDev" asp-controller="Dashboard" asp-route-Id="@item.UserId"> @("@" + item.User.UserName) </a> </h6>
                        <p class="card-text">@item.PostDescription</p>
                <a asp-action="LikePost" asp-controller="Dashboard" asp-route-postId="@item.PostId" asp-route-path="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")" asp-route-likerId="@User.Identity.GetUserId()" class="card-link"><img src="~/css/like-button-icon.svg" width="30px" /> @if (item.Likes.Count() > 0) {<span>@item.Likes.Count()</span>  } </a>
                @if (item.comments != null)
                {
                    <br />
                            <b>Comments : <span>@item.comments.Count()</span></b> 
                }
                    </div>
                 
           @if (item.comments != null)
            {
              @foreach (var comment in item.comments)
              {
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted"><a asp-action="UserDev" asp-controller="Dashboard" asp-route-Id="@comment.UserIdFrom"> @("@"+comment.UserNameFrom) </a> </h6>
                        <p class="card-text">@comment.CommentText</p>
                    </div>
                </div>
              }
            }
              </div>

                    <form asp-action="AddComment" asp-controller="Dashboard" asp-route-path="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Comment.CommentText" class="control-label">Text: </label>
                        <input asp-for="Comment.CommentText" class="form-control" />
                        <span asp-validation-for="Comment.CommentText" class="text-danger"></span>
                    </div>
                            <br />
                        <input type="hidden" asp-for="Comment.UserNameTo" value="@Model.Posts.FirstOrDefault().User.UserName" />
                        <input type="hidden" asp-for="Comment.UserIdTo" value="@Model.Posts.FirstOrDefault().User.Id" />
                        <input type="hidden" asp-for="Comment.UserNameFrom" value="@User.Identity.GetUserName()" />
                                <input type="hidden" asp-for="Comment.UserIdFrom" value="@(int.Parse(User.Identity.GetUserId()))" />
                        <input type="hidden" asp-for="Comment.PostId" value="@Model.Posts.FirstOrDefault().PostId" />
                        
              <div class="form-group">
                <input type="submit" value="Add Comment" class="btn btn-success" />
            </div>
            </form>
    }
       
}
else
{
    <a asp-action="AddPost" asp-controller="Dashboard" class="btn btn-success">Add Post</a>
}

